<!DOCTYPE HTML>
<html lang="fr">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/style.css" rel="stylesheet">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Nutnut connexion</title>
</head>

<body id="background">
    <header>
        <h1>FORUM</h1>
    </header>
    <main>
        <form action="/logintry" method="post">
            <div class="login-container">
                <div class="login">
                    <img src="/assets/nutnutprofile.png">
                    <h2>Se connecter :</h2>
                    <label for="username">Pseudo/E-mail :</label>
                    <input class="text-write" type="text" id="username" name="username" placeholder="Pseudo ou e-mail"
                        required>
                    <label for="password">Mot de passe :</label>
                    <input class="text-write" type="password" id="password" name="password" placeholder="Mot de passe"
                        required>
                    <div class="contain-button">
                        <button class="button-click" role="button" type="submit"><span
                                class="text">Connexion</span></button>
                    </div>
                    <div class="login-switch">
                        Pas de compte ? <a href="/register"><b>Créer un compte</b></a>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer></footer>
</body>

</html>


<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>

</body>

</html>