.navbar {
    background-color: red;
    color: rgb(255, 255, 255);
}

.navbar h1 {
    font-size: 50px;
}

.picto {
    height: 40px;
    width: 40px;
}

.profilpic {
    width: 50px;
    height: 50px;
}


.btn {
    padding: .55rem 1.5rem .45rem;
}

.button-click {
    align-items: center;
    background-image: linear-gradient(144deg, #dade00, #f3a042 50%, #ebb000);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(252, 202, 65, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 10px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-click:active,
.button-click:hover {
    outline: 0;
}

.button-click span {
    background-color: rgb(24, 21, 3);
    padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-click:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-click {
        font-size: 17px;
        min-width: 120px;
    }
}



.subnavbar {
    height: 40px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-width: 1px;

}



.subnavbar .categories {

    font-size: 100%;
    font-weight: 600;
    width: 25%;
    min-width: 360px;
    height: 100%;

    flex-direction: row;
    display: flex;
    justify-content: center;
}

.subnavbar .col {
    height: 40px;
    width: 0px;
}

.subnavbar .row {
    height: inherit;
}

.subnavbar .col {
    background-color: #d3d3d3;
}

html,
body {
    height: 50%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

main {
    height: 50%;
    position: relative;
    min-height: 80vh;
}

footer .first {
    background-color: #212529;
}

main {
    background-size: 300px 144px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 144" width="300" height="144" style="opacity: 0.2; filter: grayscale(1);"><text x="0em" y="1em" font-size="60" transform="rotate(0 37.5 36)">📫</text><text x="1.25em" y="2em" font-size="60" transform="rotate(0 112.5 96)">✉️</text><text x="2.5em" y="1em" font-size="60" transform="rotate(0 187.5 36)">📦</text><text x="3.75em" y="2em" font-size="60" transform="rotate(0 262.5 96)">🚚</text></svg>');
}


main,
body footer p,
h1,
h2,
h3,
h4,
h5,
a {
    color: white;
}


form {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #fdc500;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    ;
}

input {
    position: absolute;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    display: none;
    font-size: 1em;
    border-radius: 20px;

    padding: 0 20px;
    top: 0;
    left: 0;
    outline: 0;
    border: 0;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    top: 0;
    right: 0;
}

.suiviContent h1 {
    position: relative;

    top: 25vh;
    text-align: center;
    color: #07051a;
    height: inherit;
}

.box-background {
    margin-top: 1em;
    width: 70%;
    padding: 85px 20px;
    box-sizing: border-box;
    border: 2px solid #C79B00;
    border-radius: 15px;
    color: #FFFFFF;
    resize: none;
    background-color:#FFD02C;
    position: absolute;
    right: 15%;
}

.box-background h1 {
    color: #FFFFFF;
    margin-bottom: 1em;
    text-align: center;
}

.profil-background {
    margin-top: 1em;
    width: 60%;
    padding: 85px 20px;
    padding-top: 1em;
    box-sizing: border-box;
    border: 2px solid #FDC500;
    border-radius: 15px;
    color: #000000;
    resize: none;
    background-color:#FDFF92;
    position: absolute;
    right: 20%;
}

.profil-topcol {
    columns: 3;
}

.jean-img img {
    width: 100px;
    border-radius: 100%;
    left: 5em;
}

.jean-profil {
    right: 10em;
}

form:hover {
    position: absolute;
    width: 50vh;
    cursor: pointer;
    border-color: #07051a;


}

form:hover input {
    display: block;

}

form:hover .fa {
    position: absolute;
    background: #07051a;
    color: white;

}

main section {
    height: inherit;
}

.search-content {
    top: 50%;
    position: absolute;
    left: 50%
}

.search {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.tab {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}   


#support-container {
    display: none;
}

<<<<<<< HEAD
#profil-container {
=======
#suivi-container {
>>>>>>> 06ece1601ed806d3e3cbe19d348a24a0741e116a
    display: none;
}